*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    color: #ffffff;
    background:
        url(../images/3d-space-image.jpg)
        center center / cover
        no-repeat
        fixed;
}
/* header section with logo*/
h1 {
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333b;
}

#heading-logo {
    height: 100px;
    width:110px;
    margin: 0px 5px;
}
/* styles for game-area section*/

.question-area {
    width:90%;
    max-width: 600px;
    height: 30vh;
    margin: 15px auto;
    padding: 20px 8px;
    background-color: #333e;
}

.answer-btn {
    height: 50px;
    margin: 0 auto;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
}

.score-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 600;
}

.game-area {
    /*display: none;*/
}

.option-btns, .restart-btn {
    display: flex;
    justify-content: center;
}

.next-question-btn {
    height: 60px;
    width: 35%;
    font-size: 1.3em;
    background-color: #dddb;
    cursor: pointer;
}

#restart-button {
    font-weight: 600;
    font-size: 1.6em;
}

/* instuction area styles*/
.instructions-area {
    width: 90%;
    max-width: 600px;
    height: 100%;
    margin: 15px auto;
    padding: 20px 8px;
    background-color: #333b;
}

.instruction {
    margin-top: 10px;
    padding: 5px;
    border: 1.5px dashed #fffb;
}

#question {
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
}

#yoda-img {
    width: 100px;
    height: 130px;
    padding-right: 8px;
}

.question-area, .answer-btn, .instructions-area, .game-type-btn, .next-question-btn, .results-area, #restart-button {
    border-radius: 15px;
    border: 1.5px solid #000;
}

.game-type-btn, .answer-btn {
    width: 90%;
    display: flex;
    background-color: #dddb;
    cursor: pointer;
}

.game-type-btn:hover, .answer-btn:hover, .next-question-btn:hover {
    background-color: #eeec;
}

.game-type-btn:active, .answer-btn:active, .next-question-btn:active {
    background-color: #33fc;
}

.game-type {
    padding-top:30px;
}

.game-type-btn {
    height: 90px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    font-size: 1.3em;
    font-family: 'Libre Franklin', sans-serif;
    align-items: center;
    font-style: oblique;
    font-weight: 700;
    padding: 5px;
    justify-content: space-evenly;
}

.btn-img {
    height:100px;
    display:block;
}

.hide {
    display: none;
}

.correct {
    background-color: #0c0c;
}

.wrong {
    background-color: #c00c;
}
.disable {
    pointer-events: none;
}

/* results area styles */
.results-area {
    width: 90%;
    max-width: 600px;
    height: 100%;
    margin: 15px auto;
    padding: 10px 8px;
    background-color: #333b;
    font-size: 1.3em;
}

#results-message {
    padding: 20px 8px;
    background-color: #111a;
    text-align: flex-end;
}

#yoda-res-img {
    height: 130px;
    position: relative;
    left: 40px;
}

#restart-button {
    width:70%;
    max-width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddb;
    cursor: pointer;
}

/* Footer styles */
#footer-text {
    padding: 1rem;
    text-align: center;
}

/* media query for small phones (320px) and larger */
@media screen and (min-width:320px){
    #heading-logo {
        width:130px;
    }

    #yoda-img {
        width: 130px;
    }
}

/* media query for Large phones (425px) and larger */
@media screen and (min-width:425px) {
    #heading-logo {
        width: 100%;
    }
}

/* media query for tablets (768px) and larger */
@media screen and (min-width:768px){
    h1{
        font-size: 3.5em;
    }
    #question {
        font-size: 1.7em;
    }
    #yoda-res-img {
        height: 150px;
    }
    .results-area {
        font-size: 1.5em;
    }
}

/* media query for laptops(1024px) and larger*/
@media screen and (min-width:1024px){
    #answer-btn-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .answer-btn {
        width: 45%;
        display: inline-block;
        height:70px;
        margin:10px;
    }

    #yoda-res-img {
        height:180px;
    }
    .results-area {
        font-size: 1.7em;
    }
}